# .env.sample - Sample Environment Variables for Frontend (Vite)

# Backend API URL (call it in React with import.meta.env.VITE_BACKEND_URL)
VITE_BACKEND_URL=http://localhost:3310
VITE_APP_SECRET=YOUR_APP_SECRET
VITE_RESET_TOKEN_SECRET=YOUR_RESET_TOKEN_SECRET


VITE_EMAILJS_USER_ID=YOU_EMAIL_USER_ID
VITE_EMAILJS_TEMPLATE_ID=YOU_EMAIL_TEMPLATE_ID
VITE_EMAILJS_SERVICE_ID=YOU_EMAIL_SERVICE_ID

# Other Environment Variables (if needed)
# VITE_OTHER_VARIABLE=value
