@import "./variables.scss";

.HomeComponent {
  margin: 1rem;
  min-height: 74vh;
  .title_home {
    color: black;
    font-size: 28px;
  }
  .desc_home {
    color: black;
    line-height: 1.5rem;
  }
}
